body{
background-color: #E5E5E5;
}
.anonce{
width: auto;
height: auto;
background-color: #1A1A1A
box-shadow: 0 0 5px rgba(0,0,0,1);
}
.mainblock{
font-size: 16px;
margin: 0 auto;
padding-left: 5%;
padding-right: 5%;
padding-bottom: 5%;
width: 45%;
background-color: white;
box-shadow: 0 0 5px rgb(0,0,0);
}
.photo{
text-align: center;
margin: 0 auto;
padding-top: 5%;
}
.underline{
border-bottom: 1px solid black;
margin: 0 auto;
margin-right: 0;
margin-left: 0;
} 

h1{
text-align: center;
}
