body{
background-color: #E6E6E6;
}
.mainblock{
margin: auto;
width: 35%;
background-color: white;
box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.photo{
text-align: center;
margin: auto;
padding-top: 5%;
}
.underline{
border-bottom: 1px solid black;
margin: auto;
margin-right: 5%;
margin-left: 5%;
} 

h1{
text-align: center;
}
